<div class="batchWrapper">
  <div class="banner">
    <span ng-click="batch.expanded = !batch.expanded" ng-show="batch.expanded">-</span>
    <span ng-click="batch.expanded = !batch.expanded" ng-hide="batch.expanded">+</span>
    Batch
  </div>
  <div ng-if="batch.expanded">
    <div ng-repeat="(key, value) in batch">
      <div ng-if="key != 'Product' && key != 'expanded'">{{key}}:{{value}}</div>
    </div>
    <div ng-repeat="(key, value) in batch">
      <product ng-if="key == 'Product'" data="value"></product>
    </div>
  </div>
</div>