<!DOCTYPE html>
<html ng-app="rpgApp">
  <head>
    <meta charset="UTF-8">
    <title>Roleplaying Game</title>
    <link rel="stylesheet" href="rpg.css">
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="rpg.js"></script>
  </head>
  <body ng-controller="rpgCtrl">
    <h3>Unnamed RPG</h3>
    <div class="actionGroupWrapper">
      <div class="banner">
        <span>{{getActiveCharacter().name}} </span>
        <span ng-if="getActiveCharacter().actionDisplayIdTree.length > 1" ng-click="actionMenu_back()">-</span>
        {{getActiveCharacter().actionDisplay.name}}
      </div>
      <div ng-repeat="action in getActiveCharacter().actionDisplay.list" ng-click="actionMenu_select(action)">
        <span ng-if="action.list">+</span>
        <span ng-attr-title="{{action.description}}">{{action.name}}</span>
      </div>
    </div>
    
    <div ng-repeat="character in characters">
      <div class="banner">{{character.name}}</div>
      <div ng-repeat="action in character.actionQueue track by $index"> - {{action.name}}</div>
      <br />
    </div>
  </body>
</html>